@model UserRegisterVM    
<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration</h3>
                        <div asp-validation-summary="All" class="d-flex justify-content-center"></div>
                        <form asp-action="Index">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input asp-for="FirstName" type="text" id="firstName" class="form-control form-control-lg"/>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input asp-for="LastName" type="text" id="lastName" class="form-control form-control-lg"/>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="UserName">User Name</label>
                                        <input asp-for="UserName" type="text" id="UserName" class="form-control form-control-lg"/>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="PhoneNumber">Phone Number</label>
                                        <input asp-for="PhoneNumber" id="PhoneNumber" class="form-control form-control-lg"/>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input asp-for="Email" id="emailAddress" class="form-control form-control-lg"/>
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <input asp-for="Gender" class="form-check-input" type="radio" id="femaleGender"
                                               value="@Gender.Female.ToString()" checked/>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input asp-for="Gender" class="form-check-input" value="@Gender.Male.ToString()" type="radio" id="maleGender"/>
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group green-border-focus col-12 mb-4">
                                    <label for="exampleFormControlTextarea5">Detail</label>
                                    <textarea   asp-for="Detail"  class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                                    <span asp-validation-for="Detail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <select asp-for="BloodGroup" class="select form-control-lg">
                                        <option value="1" disabled>Choose Blood Group</option>
                                        @foreach (var bloodGroup in Enum.GetNames(typeof(BloodGroup)))
                                        {
                                            <option value="@bloodGroup">@bloodGroup</option>
                                        }
                                    </select>
                                    <label asp-for="BloodGroup" class="form-label select-label">Choose Blood Group</label>
                                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12 mb-4">

                                    <h6 class="mb-2 pb-1">Role: </h6>

                                    <div class="form-check form-check-inline">
                                        <input asp-for="Role" value="@UserRoles.Patient.ToString()" class="form-check-input" type="radio" id="Patient"
                                               value="@UserRoles.Patient.ToString()" checked/>
                                        <label class="form-check-label" for="Patient">Patient</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input asp-for="Role" value="@UserRoles.Doctor.ToString()" class="form-check-input" type="radio" id="Doctor"/>
                                        <label class="form-check-label" for="Doctor">Doctor</label>
                                    </div>
                                    <span asp-validation-for="Gender" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="Password">Password</label>
                                        <input asp-for="Password" type="password" id="Password" class="form-control form-control-lg"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" class="form-control form-control-lg"/>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Register"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>